.container {
  width: 30%;
  margin-top: 5%;
  margin-bottom: 2%;
  background-color: #ffffff74;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 2px #888888;
  padding: 2%;
}

h3 {
  text-align: center;
  color: black;
}

h4{
  font-weight: 600;
  color: black;
}

input{
  background-color: #ffffff81;
  border: 1px solid #796d6d;
  margin-bottom: 15px;
  width: 100%;
  padding: 5px 0px 5px 10px;
  height: 52px;
}

.custom-btn {
  color: #fff;
  width: auto;
  height: 40px;
  padding: 10px 25px;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.btnChange {
  border-radius: 20px;
  border: none;
  box-shadow: 0 0 5px #000000;
  font-weight: 600;
  color: #000;
  background-color: #189ab4;
  z-index: 2;
  transition: all 0.3s ease;
  overflow: hidden;
}

.btnChange:after {
  border-radius: 20px;
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #21b6a8;
  color: #000000;
  transition: all 0.3s ease;
  -webkit-transform: scale(0);
  transform: scale(0);
}
.btnChange:hover {
  border: none;
  color: #000;
}
.btnChange:hover:after {
  -webkit-transform: scale(1);
  transform: scale(1);
}
/*=============================================================================================*/
.btnCreate {
  border-radius: 20px;
  border: none;
  box-shadow: 0 0 5px #000000;
  font-weight: 600;
  color: #000;
  background-color: #18a558;
  z-index: 2;
  transition: all 0.3s ease;
  overflow: hidden;
}

.btnCreate:after {
  border-radius: 20px;
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #76b947;
  color: #000000;
  transition: all 0.3s ease;
  -webkit-transform: scale(0);
  transform: scale(0);
}
.btnCreate:hover {
  border: none;
  color: #000;
}
.btnCreate:hover:after {
  -webkit-transform: scale(1);
  transform: scale(1);
}

a{
  color:#fff;
}

a:hover{
  color:dodgerblue;
}