h3 {
  text-align: center;
  color: black;
  margin-top: 3%;
  font-weight: 600;
}
h4 {
  text-align: left;
  font-size: large;
  color: #212121;
  margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.spaces {
  margin-top: 2px;
}

.input,
input[type="email"],
input[type="password"],
input[type="text"],
input[type="number"],
.contactNumber,
.program,
.yrLevel,
#gender,
#sNumber {
  background-color: #ffffff81;
  border: 1px solid #796d6d;
  margin-bottom: 15px;
  width: 100%;
  padding: 5px 0px 5px 10px;
}

input[type="radio"] {
  margin-top: -1px;
  vertical-align: middle;
}

#birthdate{
  margin: -8px 5px 0px 5px;
  height: 32px;
}

#month,
#day,
#year
{
  margin: -12px 5px 0px 5px;
  background-color: #ffffff81;
  border: 1px solid #796d6d;
  height: 32px;
  width: 100%;
  color:#808080;
  pointer-events: none;
  touch-action: none;
}

#gender, #sNumber, #fName, #lName{
  color:#808080;
  pointer-events: none;
  touch-action: none;
}

@media screen and (max-width: 767px) {
  .containerCard {
    position: relative;
    margin: 5% 20% 0% 20%;
    height: 580px;
    justify-content: center;
  }
}

.custom-btn {
  color: #fff;
  width: 100%;
  height: 40px;
  padding: 10px 25px;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.btn-10 {
  border-radius: 20px;
  border: none;
  box-shadow: 0 0 5px #000000;
  font-weight: 600;
  color: #000;
  background-color: #18a558;
  z-index: 2;
  transition: all 0.3s ease;
  overflow: hidden;
  margin-bottom: 5%;
}
.btn-10:after {
  border-radius: 20px;
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #76b947;
  color: #000000;
  transition: all 0.3s ease;
  -webkit-transform: scale(0);
  transform: scale(0);
}
.btn-10:hover {
  border: none;
  color: #000;
}
.btn-10:hover:after {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.btnDelete {
  border-radius: 20px;
  border: none;
  box-shadow: 0 0 5px #000000;
  font-weight: 600;
  color: #000;
  background-color: #FF2511;
  z-index: 2;
  transition: all 0.3s ease;
  overflow: hidden;
  margin-bottom: 5%;
}
.btnDelete:after {
  border-radius: 20px;
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #BA0F30;
  color: #000000;
  transition: all 0.3s ease;
  -webkit-transform: scale(0);
  transform: scale(0);
}
.btnDelete:hover {
  border: none;
  color: #000;
}
.btnDelete:hover:after {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.buttonRegister {
  margin-top: 4%;
}

.birthdate,
.gender {
  display: flex;
}
